body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
}

li {
	list-style-type: none;
}

header {
	height: 140px;
	text-decoration: 	none;

}

#header {
	padding-top: 34px;

}

img[alt="paige-header-img"] {
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	left: 0;
	z-index: -100;
}

.brand {
	float: left;
	width: 320px;
}

#logo {
	height: 37px;
	width: 41px;
	background-color: blue;
	float: left;
	margin-right: 10px;
}

.navigation {
	float: right;
}

#hamburger {
	width: 36px;
	height: 30px;
	display:none;
}

.hero-container {
	text-align: center;
	padding-bottom: 85px;
}

.about-paragraph {
	margin-bottom: 65px;
}

.intro-social-buttons > li {
	display: block;
	margin-bottom: 30px;
	padding: 0;
}

.intro-social-buttons li a {
	font-size: 18px;
	padding: 10px 16px;
	background: white;
	border-radius: 8px;
}


a:link{
  text-decoration: none!important;
}

@media (max-width: 690px) {
	#nav ul.nav-default {
		display:none;
	}

	#hamburger {
		display: inline-block;
	}
}