body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
}

li {
	list-style-type: none;
}

header {
	height: 140px;
	text-decoration: 	none;

}

#header {
	padding-top: 34px;

}

.name {
	font-size: 17px;
	font-weight: bolder;
	padding-bottom: 5px;
	color: black;
}

.title {
	color: black;
	font-size: 10px;
}

img[alt="paige-header-img"] {
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	left: 0;
	z-index: -100;
    height: 454px;
   /* background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 56%;*/
}

.brand {
	float: left;
	width: 180px;
	margin-left: 19px;
}

#logo {
	height: 37px;
	width: 41px;
	background-color: blue;
	float: left;
	margin-right: 10px;
}

.navigation {
	float: right;
}

.nav-default {
	margin: 0;
}

.nav-default  li {
	float: left;
	padding: 0 44px 0;
}

.nav-default li a {
	font-weight: bolder;
	color: black;
}

.nav-default li a:hover {
	color: white;
}

.active {
	border-bottom: 4px solid #ff0047;
}

#hamburger {
	width: 36px;
	height: 30px;
	margin-right:19px;
	display:none;
}

.hero-container {
	text-align: center;
	padding-bottom: 85px;
}

.about-paragraph {
	margin-bottom: 65px;
}

.intro-social-buttons > li {
	display: block;
	margin-bottom: 30px;
	padding: 0;
}

.intro-social-buttons li a {
	font-size: 18px;
	padding: 10px 16px;
	background: white;
	border-radius: 8px;
}



/*Main Content*/

#main-content {
	background: whitesmoke;
}

#projects {
	max-width: 960px;
	margin: 0 auto;
}

.row {
	width: 100%;
	background: #fff;
}


.description {
	color: #868686;
}


a:link{
  text-decoration: none!important;
}


.portfolio-screenshot {
	width: 100%;
}

.portfolio-screenshot img {
	width:100%;
}

.portfolio-col {
	text-align: center;

}

.skills {
	padding: 0;
}

.skills li {
	  background: #f04;
    padding: 4px 9px;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    line-height: 32px;
}


#about {
	width: 100%;
	background: whitesmoke;
	text-align: center;
}

#profile-basics {
	display: inline-block;

}


#profile-img img {
	width: 165px;
	height: 165px;
	border-radius:100%;
}


#social-contacts ul li {
	display: inline-block;
	float: left;
	font-size: 24px;
	padding-left: 12px;

}

#social-contacts ul li a {
	color: red;
}

/*#social-contacts ul li a {
	font-size
}*/
/*Media Queries*/




	@media (max-width: 1072px){
		.portfolio-item {
			padding: 45px 20px 66px;
		}
		.portfolio-item img {
			width: 65%;
			max-width: 629px;
			max-height: 390px;
		}

		.nav-default {
			margin: 0;
		}


	}

	@media (min-width: 1073px) {
		
		.portfolio-item img {
			float:left;
			width: 45%;
		}
	}


	@media (max-width: 690px) {
	#nav ul.nav-default {
		display:none;
	}

	#hamburger {
		display: inline-block;
	}

	.row {
		padding-top: 0;
		text-align: center;
	}
}

@media (max-width: 480px){
	.container {
		padding: 0 20px;
	}

	.portfolio-item img {
		width: 100%;
	}
}